html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

html {
  background: #fafafa;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  color: grey;
}